.nav {
    position: relative;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #afaeae;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.logo {
    font-weight: bold;
}
.leftIcon {

    border: none;

}

.leftIcon {
    border: none;
}