.stationName {
    position: relative;
    margin: 50px 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;

    
}

.nowStation {
    font-weight: bold;
    font-size: 1.4rem;  
    word-break: keep-all;
    width: 10.5rem;
    text-align: center;
}

.timeInfo {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;

}

.upTimeInfo {
    width: 100%;
    height: 100vh;
    border-right: 1px solid black;
}

.downTimeInfo {
    width: 100%;
    height: 100vh;

}

.stationInfo {
    white-space: pre-line;
    text-align: center;
    padding: 30px 0px;
    border-bottom: 1px solid;
    font-size: 1.2rem;
}

.timeCard {
    text-align: center;
    padding: 40px 0px;
    font-size: 1.1rem;
    font-weight: bold;
    border-top: 1px solid gray;
}

.timeCard .timeCardGray {
    color: gray;
    font-weight: lighter;
}
